.dz-card{
	&.style-1{
		border-radius:var(--border-radius-base);
		box-shadow: 1px 1.732px 60px 0px rgba(0, 0, 0, 0.1);
		overflow:hidden;
		.dz-info{
			padding:30px 30px;
		}
		.dz-media{
			.dz-badge-list{
				position:absolute;
				top:20px;
				left:20px;
			}
			.dz-badge{
				background-color:var(--primary);
				color:#fff;
				border-radius:var(--border-radius-base);
				padding: 8px 15px;
				font-size: 12px;
				text-transform:uppercase;
			}
		}
		@include respond ('phone'){
			.dz-info{
				padding:25px 25px;
			}
			.dz-media{
				.dz-badge{	
					top:10px;
					left:10px;
					padding: 5px 10px;
					font-size: 14px;
				}
			}
		}
	}
}
// Post-Tutorial
.tutorial{
	border: 1px solid gray;
    padding: 30px;
	border-radius: var(--border-radius-base);
	@include respond("phone"){
		padding: 20px;
	}

	.tutorial-title{
		font-family: var(--font-family-base);
		border-bottom: 1px solid gray;
	}
	ul {
		margin: 0px;
		li {
			list-style: auto !important;
			padding: 5px 0px;
			font-size: 16px;
			color: var(--primary) !important;
			a {
				color: var(--primary);
			}
		}
	}
}
.tutorial-data > div {
    scroll-margin-top: 110px;
}
.blog-single {
	.dz-post-text {
		.tutorial-data{
			> div{
				scroll-margin-top: 100px;
			}
			.title{
				font-family: var(--font-family-base);
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}


.blog-single.style-1 .tutorial ul {
    margin: 0px;
    padding: 0px 20px !important;
}
.tutorial {
	ul {
	  margin-left: 15px;
	  margin-bottom: 0;
	}
  }

// Post-Cateloge
.blog-single{
	.dz-post-text {
		.cateloge-post{
			margin-bottom: 30px;
			.title{
				font-family: var(--font-family-base);
				font-size: 24px;
				font-weight: 500;

				@include respond("phone"){
					font-size: 18px;
				}
			}
			.cateloge-box{
				.cateloge-media{
					margin-bottom: 20px;
				}
				.cateloge-data{
					background-color: #ffff;
					border: 1px solid gray;
					padding: 20px;
					margin-bottom: 20px;

					@include respond("phone"){
						padding: 15px;
					}
					table.table{
						border: 0;
						margin-bottom: 0px;
						tr {
							background-color: transparent !important;
							td{
								padding: 4px; 
								color: #000;
								border: 0;

								@include respond("phone"){
									font-size: 14px;
								}
							}
						}
					}
				}
			}

			hr{
				margin-top: 40px;
				margin-bottom: 40px;
				border-width: 4px;
				opacity: 1;

				@include respond("phone"){
					margin-top: 30px;
					margin-bottom: 30px;
					border-width: 2px;
				}
			}
	
		}
	}
}
.post-video{
	iframe{
		height:510px;
		width:100%;
		border-radius: var(--border-radius-base);
		@include respond('phone-land'){
			height:350px;
		}@include respond('phone'){
			height:250px;
		}
	}
}

// === Post-Link === //
.blog-single {
    > .dz-media.post-link {
        img + .post-link-in {
			background: rgba(255, 255, 255, 0.8);
			color: #000000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			height: 80px;

            &:hover {
                background: var(--primary);
                color: #fff;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
        }

        &:not(:has(img))::after {
            content: none;
        }

        &:not(:has(img)) > .post-link-in {
            position: static;
            transform: none;
            width: auto;
            background-color: var(--primary);
        }
    }
}
.post-link-in {
	padding: 44px 50px;
    color: #000;
    font-weight: 400;
	background: var(--rgba-primary-1);
    width: 100%;
    display: block;
    text-align: center;
    font-size: 26px;
	@include transitionMedium;
	
	&:hover{
		background:var(--primary);
		color:#fff;
	}
	@include respond('phone-land'){
		padding: 10px 24px;
		font-size: 15px;
	}
}



.alignwide {
	button {
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background: #000;
		z-index: 999;
		transform: translate(-50%, -50%);
	}
}

// status
.status-media{
	position: relative;
	.post-status-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
		width: 100px;
		height: 100px;
		border: 0;
		background-color: rgba(0, 0, 0, 0.4);

		@include respond("phone"){
			width: 70px;
			height: 70px;

			svg{
				width: 22px;
    			height: 22px;
			}
		}
	}
}


.header-nav .badge {
    padding: 4px 6px;
    font-size: 11px;
    font-weight: 500;
    background-color: var(--primary);
    margin-left: 10px;
}

.dz-meta.white li, .dz-meta.white li a {
    color: #fff;
}

// Quote-Post=====
.quote-text {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.9);
	padding: 40px;
	width: 720px;  
	@media only screen and (max-width: 1199px) {
	  width: 510px;
	  padding: 20px;
	}
  
	@media only screen and (max-width: 767px) {
	  width: calc(100% - 20px);
	  padding: 8px;
	}
  
	blockquote.wp-block-quote {
	  margin: 0;
	  background-color: transparent;
	  border: 0;
	  padding: 1.25rem 2rem 1.25rem 1.875rem;
	  text-align: left;
  
	  @media only screen and (max-width: 575px) {
		padding: 15px;
	  }
  
	  &::before {
		opacity: 0.5;
		right: 0;
		bottom: 0;
		left: auto;
		top: auto;
		background-size: contain;
  
		@media only screen and (max-width: 575px) {
		  width: 50px;
		  height: 50px;
		}
	  }
	}
  
	@media only screen and (max-width: 1199px) {
	  blockquote p {
		font-size: 18px;
	  }
	}
  
	@media only screen and (max-width: 575px) {
	  blockquote p {
		font-size: 12px;
	  }
	}
  }
// ===Post-Quote === //
.blog-single {
    > .dz-media {
        > img + .quote-text {
            position: absolute;
        }

        &:not(:has(img)) > .quote-text {
            position: static;
            transform: none; 
            width: auto; 
			background: var(--rgba-primary-1);
        }
    }
}


.modal{
	&.status-modal{
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		overflow: hidden;
		.modal-dialog{
			margin-top: 0;
			@include respond("phone"){
				margin: 0;
			}	
		}

		.btn-close{
			position: absolute;
			top: 0;
			right: 0;
			width: 44px;
			height: 44px;
			color: #fff;
			background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 1L1 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 1L21 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			z-index: 9;

			@include respond("phone"){
				top: 20px;
				right: 20px;
			}
		}
		.status-pagination{
			position: absolute;
			top: 0;
			bottom: auto !important;
			left: 50% !important;
			height: auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			z-index: 9;
			transform: translate(-50%);
			padding: 10px 0;
			gap: 5px;
			
			.swiper-pagination-bullet{
				height: 5px;
				background-color: rgba(255, 255, 255, 0.5);
				opacity: 1;
				width: 100%;
				border-radius: 10px;
				position: relative;
				overflow: hidden;
	
				&::after{
					content: "";
					height: 100%;
					width: 0;
					background: #fff;
					position: absolute;
					top: 0;
					left: 0;
				}
				&.swiper-pagination-bullet-active::after{
					width: 100%;
					transition: 3.5s linear;
				}
			}
		}
		.modal-content{
			border-radius: 30px;

			.status-wrapper {
				.status-swiper{
					.swiper-slide{
						.status-top-box{
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							color: #fff;
							width: 100%;
							display: flex;
							justify-content: space-between;
							padding: 30px 20px 5px 20px;
							&:after{
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 03%, rgba(0, 0, 0, 0.7) 100%);
								z-index: -1;
							}
							.post-date{
								font-size: 16px;
								color: #fff;
							}
							.title{
								font-size: 24px;
								color: #fff;
								font-family: 'Roboto';
								font-weight: 800;
								margin-bottom: 0;
								@include respond("phone"){
									font-size: 17px;
								}
						
							}
							.status-btn{
								@include respond("phone"){
									display: flex;
									flex-direction: column;
									justify-content: end;
								}
								.btn.btn-sm{
									white-space: nowrap;
									padding: 6px 10px;
									border-radius: 5px;
									background-color: var(--primary);
									color: white !important;
						
									&:hover{
										background-color: #ebebeb;
										color: #000;
									}
								}
						
								.volume-icon{
									width: 44px;
									height: 44px;
									position: relative;
									background: rgba(255, 255, 255, 0.2);
									display: flex; 
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									float: right;
								}
							}
						}
						height:unset;
			
						img{
							height: 100vh;
							width: 100%;
							object-fit: cover;
						}
			
						video {
							width: 100%;
							height: 100%;
							position: fixed;
							left: 0;
							top: 0;
							object-fit: cover;
							z-index: -1;
						}
					}
				}
			}
		}
	}

}

