[data-body-bg="color_0"]{
	background-color: #fff;
}
[data-body-bg="color_1"]{
	background-color: #fe4c1c;
}
[data-body-bg="color_2"]{
	background-color: #fead44;
}
[data-body-bg="color_3"]{
	background-color: #00D664;
}
[data-body-bg="color_4"]{
	background-color: #e5588d;
}